# Application

APP_SECRET=''

# Database

DB_DSN='mariadb:dbname=test;host=localhost;port=3306'
DB_USERNAME=''
DB_PASSWORD=''

# Redis

REDIS_HOST='localhost'
REDIS_PORT=6379
REDIS_PASSWORD=''

# Encryption

ENCRYPTION_KEY=''
